body{
  font-family: 'Roboto';
  background-color: black;
}
header{
  font-family: 'Roboto';
  color: white;
  margin-bottom: 40px;
}
section{
  font-family: 'Roboto';
  color: white;
  width: 100%;
  height: 120%;
  display:flex;
  flex-direction: row;
}
aside{
  font-family: 'Roboto';
  width: 25%;
  height: 102%;
}
h2{
  color: white;
}
.imgProfile{
  margin-bottom: 10px;
  width: 80%;
  margin-left: 0px;
  margin-right: auto;
}
.aside1{
 
}
.aside2{
text-align: justify;
margin-right: 10px;
margin-left: 10px;
}
h1{
  text-align: center;
  margin: 0px;
  font-size: 100px;
}
h2{
  text-align: center;
  margin: 0px;
  font-size: 30px;
}
h3{
  text-align: center;
  margin-top: 0px;
  font-size: 20px;
}
p {
  margin-top: 0px;
}
footer{
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 50px;
  height: auto;
  width: 1491px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.imgFooter{
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;

}
.aside3{
display: flex;
flex-direction: column;
}
.imgTesting{
  margin-bottom: 30px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.igniteText{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: justify;
}
.imgFarm{
  margin-bottom: 10px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;

}
.aside4{
display: flex;
justify-content: right;
}
.imgMugshot{
  width: auto;
  height: 80%;
}
a{
  color: white;
  text-align: center;
  font-size: 20px;
}
.social{
  color: white;
  text-align: center;
  font-size: 30px;
}
.container-posts{
  color: white;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height:fit-content ;

}
.twitter-tweet{
  padding-top: 50px;
}
.social-div{
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
}

